<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stuff/reset.css">
    <link rel="stylesheet" type="text/css" href="/stuff/burger.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

		<title>Eat The Burger?</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>